.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.logo-image {
  width: 55px;
  height: 45px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 24px;
}
.navbar-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, transform 0.5s ease;;
  display: inline-block;
}
.navbar-links a:hover {
  color: #84cc16;
  transform: translateY(-3px);
}
.resume {
  display: inline-flex !important;
  align-items: center;
  gap: 6px;
  transition: color 0.3s;
  color: #84cc16 !important;
  font-size: 18px !important;
}
.resume:hover {
  color: #98f807 !important;

}
.arrow {
  transition: transform 0.3s ease;
  margin-top: 7px;
}
.resume:hover .arrow {
  transform: translateX(10px);
}
.resume-link {
  margin-top: -5px;
}

.navbar {
  position: relative;
  z-index: 1;
  height: 90vh;
}

.navbar::before {
  content: "";
  position: absolute;
  top: -320px;
  left: 0;
  width: 300px;
  height: 120%; 
  background: linear-gradient(
    135deg,
    rgba(132, 204, 22, 0.3),
    rgba(132, 204, 22, 0)
  );
  z-index: -1;
  transform: skewX(50deg); 
  filter: blur(12px);
}

@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 18px;
  }

  .navbar-links {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #2227224e;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
  .navbar-container {
    padding: 10px 10px;
  }
  .logo-image {
    width: 40px;
    height: 30px;
  }
}
@media screen and (max-width:768px) {
  .navbar::before {
  top: -120px;
  left: 0;
  width: 100px;
  height: 70%; 
  transform: skewX(40deg); 
  }
}