.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

.logo-image {
  width: 55px;
  height: 45px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 24px;
}
.navbar-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, transform 0.5s ease;
  display: inline-block;
}
.navbar-links a:hover {
  color: #84cc16;
  transform: translateY(-3px);
}
.resume {
  display: inline-flex !important;
  align-items: center;
  gap: 6px;
  transition: color 0.3s;
  color: #84cc16 !important;
  font-size: 18px !important;
}
.resume:hover {
  color: #98f807 !important;
}
.arrow {
  transition: transform 0.3s ease;
  margin-top: 7px;
}
.resume:hover .arrow {
  transform: translateX(10px);
}
.resume-link {
  margin-top: -5px;
}

.navbar {
  position: relative;
  z-index: 1;
  height: 90vh;
}

.navbar::before {
  content: "";
  position: absolute;
  top: -320px;
  left: 0;
  width: 300px;
  height: 120%;
  background: linear-gradient(
    135deg,
    rgba(132, 204, 22, 0.3),
    rgba(132, 204, 22, 0)
  );
  z-index: -1;
  transform: skewX(50deg);
  filter: blur(12px);
}

@media (max-width: 700px) {
  .menu-toggle {
    display: block;
    color: #fff;
    font-size: 18px;
  }

  .navbar-links {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #2227224e;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 1.4s ease, opacity 2.4s ease, transform 1.4s ease;
    display: flex;

    /** ✅ Fixes **/
    z-index: 999; /* ensures it shows above all other elements */
    backdrop-filter: blur(10px); /* optional: makes background nice */
  }

  .navbar-links.active {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
  }

  .navbar-container {
    padding: 10px 10px;
  }
  .logo-image {
    width: 40px;
    height: 30px;
  }
}
@media screen and (max-width: 768px) {
  .navbar::before {
    top: -120px;
    left: 0;
    width: 100px;
    height: 70%;
    transform: skewX(40deg);
  }
}

.wave {
  display: inline-block;
  animation: wave-hand 4.5s infinite;
}

@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  45% {
    transform: rotate(14deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero {
  text-align: center;
  margin-top: 70px;
}
.hero-content {
  color: #fff;
}
.code-icon {
  position: relative;
  top: 2px;
  font-size: 28px;
}
.header-para {
  font-size: 28px;
}
@media screen and (max-width: 500px) {
  .header-para {
    padding: 40px;
  }
}
.header-heading {
  font-size: 44px;
  letter-spacing: 2px;
  color: #a3e635;
  font-weight: bold;
}
.sidebar-icons {
  position: fixed;
  bottom: 0px;
  left: 20px;
  z-index: 999;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease, transform 0.5s ease;
  display: inline-block;
}

.sidebar-links a:hover {
  color: #84cc16;
  transform: translateY(-3px);
}

.icon-bar {
  color: #fff;
  font-size: 100px;
  margin-left: -40px;
}

.my-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-image img {
  width: 450px;
  height: auto;
}
@media screen and (max-width: 768px) {
  .my-image img {
    width: 200px;
    height: auto;
  }
  .sidebar-links {
    gap: 5px;
    font-size: 20px;
  }
}
.node-icon {
  display: flex;
}
.node-icon img {
  position: relative;
  width: 200px;
  height: auto;
  top: -350px;
  left: 550px;
}

@media screen and (max-width: 1024px) {
  .node-icon img {
    height: auto;
    top: -310px;
    left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .node-icon img {
    width: 100px;
    height: auto;
    top: -150px;
    left: 240px;
  }
}

@media screen and (max-width: 426px) {
  .node-icon img {
    width: 100px;
    height: auto;
    top: -150px;
    left: 50px !important;
  }
}

@media screen and (max-width: 320px) {
  .node-icon img {
    width: 80px;
    height: auto;
    top: -140px;
    left: 40px !important;
  }
}

.js-icon {
  display: flex;
  position: relative;
}
.js-icon img {
  position: absolute;
  width: 80px;
  height: auto;
  top: -14rem;
  left: 32%;
}
@media screen and (max-width: 1024px) {
  .js-icon img {
    height: auto;
    top: -15rem;
    left: 21%;
  }
}
@media screen and (max-width: 768px) {
  .js-icon img {
    width: 40px;
    height: auto;
    top: -8rem;
    left: 32%;
  }
}
@media screen and (max-width: 426px) {
  .js-icon img {
    height: auto;
    top: -7rem;
    left: 17%;
  }
}
@media screen and (max-width: 376px) {
  .js-icon img {
    height: auto;
    top: -7rem;
    left: 12%;
  }
}

@media screen and (max-width: 321px) {
  .js-icon img {
    width: 30px;
    height: auto;
    top: -6rem;
    left: 10%;
  }
}

/* 
 */

.react-icon {
  display: flex;
  position: relative;
}
.react-icon img {
  position: absolute;
  width: 100px;
  height: auto;
  top: -34rem;
  left: 55%;
}
@media screen and (max-width: 1024px) {
  .react-icon img {
    height: auto;
    top: -35rem;
    left: 58%;
  }
}
@media screen and (max-width: 768px) {
  .react-icon img {
    width: 40px;
    height: auto;
    top: -15rem;
    left: 55%;
  }
}
@media screen and (max-width: 426px) {
  .react-icon img {
    height: auto;
    top: -15rem;
    left: 59%;
  }
}
@media screen and (max-width: 376px) {
  .react-icon img {
    height: auto;
    top: -15rem;
    left: 60%;
  }
}

@media screen and (max-width: 321px) {
  .react-icon img {
    width: 30px;
    height: auto;
    top: -15rem;
    left: 64%;
  }
}
/*  */

.html-icon {
  display: flex;
  position: relative;
}
.html-icon img {
  position: absolute;
  width: 130px;
  height: auto;
  top: -20rem;
  left: 62%;
}
@media screen and (max-width: 1024px) {
  .html-icon img {
    height: auto;
    top: -20rem;
    left: 70%;
  }
}
@media screen and (max-width: 768px) {
  .html-icon img {
    width: 70px;
    height: auto;
    top: -10rem;
    left: 62%;
  }
}
@media screen and (max-width: 426px) {
  .html-icon img {
    height: auto;
    top: -10rem;
    left: 71%;
  }
}
@media screen and (max-width: 376px) {
  .html-icon img {
    height: auto;
    top: -10rem;
    left: 75%;
  }
}

@media screen and (max-width: 321px) {
  .html-icon img {
    width: 50px;
    height: auto;
    top: -9rem;
    left: 80%;
  }
}

.main-content {
  color: #fff;
  margin-top: 190px;
  padding: 100px;
}
.about {
  background-color: #101410;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(131, 204, 22, 0.081);
}
.about-heading {
  font-weight: 500;
}
.text-about {
  color: #a3e635;
}
.about-para {
  font-size: 18px;
  padding: 40px 180px 0px 180px;
}
.aboutwork-para {
  color: #a3e635;
  font-size: 18px;
  padding: 0px 180px;
}
.more-about-me a {
  text-decoration: none;
}
.more-about-me {
  text-align: center;
}
.my-accounts ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  list-style: none;
  transition: color 0.3s ease, transform 0.5s ease;
  margin-top: 40px;
}
.my-accounts ul a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.5s ease !important;
  display: inline-block;
}

.my-accounts ul a:hover {
  color: #84cc16;
  transform: translateY(-3px);
}

@media screen and (max-width: 1024px) {
  .main-content {
    margin-top: 24.7rem;
  }
  .about-para {
    padding: 40px 100px 0px 100px;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-top: 5.3rem;
  }
  .about-para {
    padding: 40px 10px 0px 10px;
  }
  .aboutwork-para {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 476px) {
  .about {
    padding: 10px;
  }
  .main-content {
    margin-top: 20rem;
    padding: 40px;
  }
  .about-para {
    padding: 10px 10px 0px 10px;
  }
  .aboutwork-para {
    padding: 0px 10px;
  }
  .my-accounts ul {
    gap: 40px;
    justify-content: start;
  }
}

@media screen and (max-width: 376px) {
  .my-accounts ul {
    margin-left: -22px;
    gap: 20px;
  }
}

.work-companies {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.company-logo {
  display: flex;
  gap: 20px;
  animation: slideX 10s infinite alternate ease-in-out;
  width: max-content;
  padding: 50px;
}

@keyframes slideX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.company-logo img {
  width: 130px;
  height: auto;
}

.text-about {
  margin-left: 60px;
}
.projects {
  color: #fff;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 50px;
  cursor: pointer;
}
.project-card {
  transition: color 0.3s ease, transform 0.5s ease;
}
.project-card:hover {
  transform: translateY(-10px);
}
@media screen and (max-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.project-card {
  background-color: #101410;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(131, 204, 22, 0.081);
}
.project-card img {
  width: 130px;
  height: auto;
}
.project-card h4 {
  margin-top: -20px;
}
.project-card a {
  text-decoration: none;
  position: relative;
  top: -10px;
  color: #3b82f6;
  font-size: 0.9rem;
}
.project-card a:hover {
  text-decoration: underline;
}
.project-card p {
  font-size: 16px;
  color: #d1d5db;
  margin-top: 3px;
}

.viewmore-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.project-container {
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}


.skills-container {
  overflow: hidden;
  width: 100%;
  margin-top: 4rem;
}

.skills-slider {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.my-skills {
  display: flex;
  gap: 40px;
  width: max-content; /* important for long rows */
}

.my-skills img {
  height: 60px;
  width: auto;
}

/* Animation: Left to Right */
@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Responsive tweaks for small screens */
@media (max-width: 768px) {
  .my-skills img {
    height: 50px;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .my-skills img {
    height: 40px;
  }
}

.my-experience {
  margin-top: 4rem;
}


.experience-list {
  list-style-type: none;
  padding-left: 0;
}

.experience-point {
  margin-bottom: 12px;
  position: relative;
  padding-left: 25px;
  color: #fff;
}

.experience-point::before {
  content: '•';
  position: absolute;
  left: 0;
  top: 0;
  color: #84cc16;
  font-size: 24px;
  line-height: 1;
}

.company-logo--img {
  display: flex;
  align-items: center;
}
.company-logo--img img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}
.work-months h4 {
  color: #fff;
  margin-top: -5px;
  font-weight: 600;
  font-size: 18px;
}
.work-months p {
  color:  #d1d5db;
  font-size: 14px;
}
.experience-container {
  padding: 50px;
}
@media screen and (max-width: 500px) {
  .experience-container {
    padding: 20px;
  }
  
}
.experience-card {
  background-color: #101410;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(131, 204, 22, 0.081);
  margin-bottom: 20px;

}
.toggle-btn {
  margin-left: 25px;
}
.work-description {
  margin-top: -10px;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
}
.footer-content img {
  height: 50px;
  width: auto;
}
.footer-content p {
  font-size: 14px;
}
.footer-highlight {
 color: #84cc16;
}


.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: #fff;
  color: #222;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scroll-to-top:hover {
  background: #ffffffd7;
}
